[Desktop Entry]
Name=Tomato Task Tracker
Name[ru]=Менеджер задач-помидоров

GenericName=Tomato Task Tracker
GenericName[ru]=Менеджер задач-помидоров

Comment=The personal task tracker with the Pomodoro Technique
Comment[ru]=Персональный менеджер задач скрещенный с методом "Помидор"

Exec=tomatotasktracker-desktop %f
Icon=tomatotasktracker-desktop
Terminal=false
Type=Application
Categories=Office;Qt;
Keywords=task;todo;reminder
