[Desktop Entry]
Name=Tomato Task Tracker
Name[ru]=Помидорный трекер задач

GenericName=Tomato Task Tracker
GenericName[ru]=Помидорный трекер задач

Comment=Your simple task tracker with added Pomodoro technique
Comment[ru]=Ваш простой трекер задач дополненный методом "Помидор"

Exec=tomatotasktracker-desktop %f
Icon=tomatotasktracker-desktop
Terminal=false
Type=Application
Categories=Office;Qt;
Keywords=task;todo;reminder
